<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Course</title>
</head>
<body>
    <h1>Add New Course</h1>
    <form action="/instructors/add" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name"><br>

        <label for="description">Description</label><br>
        <textarea name="description" cols="30" rows="10"></textarea><br>

        <label for="duration">Duration</label><br>
        <input type="number" name="duration"><br>

        <label for="UserId">Instructor</label><br>

        <select name="UserId">
            <option selected disabled>--SELECT INSTRUCTOR--</option>
            <% data.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.fullName %></option>
            <% }) %>
        </select><br>

        <input type="submit" name="Submit">
    </form>
</body>
</html>