<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Details</title>
</head>
<body>
    <h1>Course List</h1>
    <table border="1">
        <thead>
                <tr>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Instructor</th>
                    <th>Action</th>
                </tr>            
        </thead>
        <tbody>
            <% data.forEach(el => { %>
                <tr>
                    <td><%= el.name %> </td>
                    <td><%= el.duration %> </td>
                    <% if (el.Instructor !== null) { %>
                        <td><%= el.Instructor.fullName %> </td>
                    <% } else {%>
                        <td>No Instructor</td>
                    <% } %>
                    <td><a href="/courses/<%= el.id %>/buyCourse">Buy Course</a></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>