<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/register-form.css">
  <title>Register Form</title>
</head>
<body>
  <div class="container">
    <h1>Register</h1>

    <form action="/user/register" method="post">
      <p>
        Full Name <br>
        <input type="text" name="fullName" id="" placeholder="Full Name" class="form-input">
      </p>
      <p>
        Email <br>
        <input type="text" name="email" id="" placeholder="Email" class="form-input">
      </p>
      <p>
        Username <br>
        <input type="text" name="username" id="" placeholder="Username" class="form-input">
      </p>
      <p>
        Password <br>
        <input type="text" name="password" id="" placeholder="Password" class="form-input">
      </p>
      <input type="text" name="roles" value="Student" style="display: none;">
      <input type="submit" value="Register" class="submit-btn">
    </form>
    
    <p class="instructor-reg">Interested on teaching ? register as instructor <a href="/user/register/instructor">here</a></p>
  </div>
</body>
</html>