@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.container {
  border: 1.5px solid #7e7e7e;
  border-radius: 7px;
  margin: 60px auto;
  padding: 10px;
  width: 70%;
}

.container h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

input {
  padding: 5px;
  border: 2px solid #7e7e7e;
  border-radius: 5px;
  margin-bottom: 10px;
}

.save-btn {
  border: 2px solid #7e7e7e;
  border-radius: 5px;
  background-color: #aaaaaa;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.save-btn:hover {
  border: 2px solid #aaaaaa;
  border-radius: 5px;
  background-color: #7e7e7e;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}